<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
      <title>{{title}} - Xinzhao's Blog</title>
    {% else %}
      <title>Xinzhao's Blog</title>
    {% endif %}

    <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto+Mono:ital,wght@1,500&display=swap" rel="stylesheet">
    <link href="/assets/index.css" rel="stylesheet">

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "0e203f4d28904bfaaddccd0f3f748af2"}'></script>

    {% block head %}{% endblock %}
  </head>

  <body>
    {% block body %}{% endblock %}

    {% block bodyEndScript %}{% endblock %}
  </body>
</html>
