{% extends "layout.njk" %}
{% block head %}
  {% seo "" %}

  {# <script src="https://cdn.jsdelivr.net/combine/npm/prismjs@1.21.0,npm/prismjs@1.21.0/components/prism-javascript.min.js,npm/prismjs@1.21.0/components/prism-typescript.min.js,npm/prismjs@1.21.0/components/prism-bash.min.js,npm/prismjs@1.21.0/components/prism-sql.min.js,npm/prismjs@1.21.0/components/prism-diff.min.js,npm/prismjs@1.21.0/components/prism-tsx.min.js,npm/prismjs@1.21.0/components/prism-jsx.min.js,npm/prismjs@1.21.0/components/prism-json.min.js"></script> #}

  <link href="//cdn.jsdelivr.net/combine/npm/prismjs@1.21.0/themes/prism.min.css,npm/prismjs@1.21.0/themes/prism-okaidia.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
  <div class="main-container mx-auto">
    {% include "header.njk" %}
    <div class="mb-4 mt-8 font-sans">
      <h1 class="my-2 tracking-wide text-gray-900 font-bold">{{ title }}</h1>
      <div class="blog-post tags">
        {%- for tag in tags | filterTagList -%}
        {%- set tagUrl %}/tags/{{ tag }}/{% endset -%}
        <a href="{{ tagUrl | url }}">{{ tag }}</a>
        {%- endfor %}
      </div>
      <p class="my-2 text-gray-500 text-sm font-light">{% formatDate date %}</p>
    </div>

    <div class="blog-post">
      {{ content | safe }}
    </div>

    {% include "disqus.njk" %}
  </div>

  {% include "footer.njk" %}
{% endblock %}
