---
title: 404 Not Found
permalink: 404.html
eleventyExcludeFromCollections: true
---

{% extends "layout.njk" %}

{% block head %}
  {% seo "" %}

{% endblock %}

{% block body %}

  <div class='main-container mx-auto'>
    {% include "header.njk" %}

    <div class="logo text-center text-4xl my-32">
      <p>404 Not Found</p>
    </div>
  </div>
  {% include "footer.njk" %}

{% endblock %}
