---
title: 关于我
---

{% extends "layout.njk" %}

{% block head %}
{% seo "" %}

{% endblock %}

{% block body %}
  <div class='main-container mx-auto pt-12'>
    {% include "header.njk" %}

    {% include "introduction.njk" %}

    <section class='text-sm leading-relaxed mb-8 blog-post'>
      <p>联系我：</p>
      <ul>
        <li>
          <b class="github">GitHub</b>:
          <a rel="noopener noreferrer" target="_blank" href="https://github.com/iawia002">iawia002</a>
        </li>
        <li>
          <b class="email">Email</b>:
          <a href="mailto:z2d@jifangcheng.com">z2d at jifangcheng.com</a>
        </li>
      </ul>
    </section>

    {% include "disqus.njk" %}
  </div>
  <hr class="my-8"/>
  {% include "footer.njk" %}
{% endblock %}
