---
title: 关于我
---

{% extends "layout.njk" %}

{% block head %}
{% seo "" %}

{% endblock %}

{% block body %}
  <div class='main-container mx-auto'>
    {% include "header.njk" %}

    <section>
      <div class="w-32 h-32 mx-auto rounded-full bg-cover bg-center mt-8" style="background-image: url(/img/avatar-blue.png)"}}></div>
    </section>

    <section class='text-sm leading-relaxed my-8 blog-post'>
      <p>Hi，我叫徐信钊，常用 <span class="text-green-700">iawia002</span> 这个 ID 在网上冲浪，现在是一名程序员，曾在才云科技和字节跳动从事云原生相关的工作，目前在<a rel="noopener noreferrer" target="_blank" href="https://www.qingcloud.com">青云</a>工作。</p>
      <p>写博客并不全因为我是程序员，除了编程相关的内容，以后也会分享些生活上的流水帐和其它一些有趣的事情（这种内容可能占大部分 🤣）；最近在学摄影，以后拍到好看的照片也会发上来。</p>
    </section>

    <section class='text-sm leading-relaxed mb-8 blog-post'>
      <p>联系我：</p>
      <ul>
        <li>
          <b class="github">GitHub</b>:
          <a rel="noopener noreferrer" target="_blank" href="https://github.com/iawia002">iawia002</a>
        </li>
        <li>
          <b class="email">Email</b>:
          <a href="mailto:z2d@jifangcheng.com">z2d at jifangcheng.com</a>
        </li>
      </ul>
    </section>

    {% include "disqus.njk" %}
  </div>
  {% include "footer.njk" %}
{% endblock %}
