{% extends "layout.njk" %}

{% block head %}
  {% seo "" %}
{% endblock %}

{% block body %}
  <div class="main-container mx-auto pt-12">
    {% include "header.njk" %}

    {% include "introduction.njk" %}

    <h1 class="logo text-green-700 text-lg mb-2 mt-8">Posts</h1>
    {% set postslist = collections.post %}
    {% include "postslist.njk" %}
  </div>

  <div class="my-24">
    {% include "footer.njk" %}
  </div>
{% endblock %}
