---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
  - post
  addAllPagesToCollections: true
eleventyComputed:
  title: "{{ tag }} - 标签"
permalink: /tags/{{ tag | slug }}/
---

{% extends "layout.njk" %}

{% block head %}
  {% seo "" %}
{% endblock %}

{% block body %}
  <div class='main-container mx-auto'>
    {% include "header.njk" %}

    <h1 class="title text-green-700 text-xl mb-2 mt-8">{{ tag }}</h1>
    {% set postslist = collections[ tag ] %}
    {% include "postslist.njk" %}
  </div>

  {% include "footer.njk" %}
{% endblock %}
