---
title: 标签
---

{% extends "layout.njk" %}

{% block head %}
  {% seo "" %}
{% endblock %}

{% block body %}
  <div class='main-container mx-auto'>
    {% include "header.njk" %}

    <h1 class="title text-green-700 text-xl mb-2 mt-8">Tags</h1>
    <div class="blog-post tags">
      {% for tag in collections.tagList | filterTagList %}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}">{{ tag }}</a>
      {% endfor %}
    </div>
  </div>

  {% include "footer.njk" %}
{% endblock %}
